html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.center-screen {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}